CursoNodejs/soap_custom/service2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <!-- WSDL TYPES: Definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <!-- Schema definition for subtraction operation -->
      <s:element name="SubtractRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:double"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubtractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:double"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>

  <!-- MESSAGES: Defines the data being exchanged between the service and client -->
  <wsdl:message name="SubtractRequestMessage">
    <wsdl:part name="parameters" element="tns:SubtractRequest"/>
  </wsdl:message>
  <wsdl:message name="SubtractResponseMessage">
    <wsdl:part name="parameters" element="tns:SubtractResponse"/>
  </wsdl:message>

  <!-- PORT TYPES: Defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="SubtractionSoapPort">
    <wsdl:operation name="SubtractOperation">
      <wsdl:input message="tns:SubtractRequestMessage"/>
      <wsdl:output message="tns:SubtractResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- BINDING: Provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="SubtractionServiceSoapBinding" type="tns:SubtractionSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <!-- Binding for subtraction operation -->
    <wsdl:operation name="SubtractOperation">
      <soap:operation soapAction="SubtractOperation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="SubtractionServiceSoap12Binding" type="tns:SubtractionSoapPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <!-- Binding for subtraction operation -->
    <wsdl:operation name="SubtractOperation">
      <soap12:operation soapAction="SubtractOperation" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- SERVICE: -->
  <wsdl:service name="SubtractionService">
    <wsdl:port name="SubtractionServiceSoapPort" binding="tns:SubtractionServiceSoapBinding">
      <soap:address location="http://localhost:8000/resta"/>
    </wsdl:port>
    <wsdl:port name="SubtractionServiceSoap12Port" binding="tns:SubtractionServiceSoap12Binding">
      <soap12:address location="http://localhost:8000/resta"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
